* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  width: 100vw;
  height: 100vh;
  display: flex;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  article {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  section {
    display: flex;
    align-items: center;
    padding: 1em;
  }

  .color-dot {
    border-radius: 50% 50% 0 50%;
    margin: 1em;
    height: 4em;
    width: 4em;
  }

  .color-letter {
    background: none;
    text-align: center;
    font-size: 1.25em;
  }

  .color-hex {
    padding: 1em;
    padding-left: 2em;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 125em 0 0 125em;
  }

  .lock {
    padding-left: 1em;
    img {
      width: 1.5em;
    }
  }
}

aside {
  width: 25em;
  padding: 1em;
  text-align: center;
  background: #eeeeee;
  overflow-y: scroll;
  h1 {
    padding: 1em;
  }
  section {
    border-top: 1px solid #252525;
    padding-top: 1em;
    margin-top: 1em;
  }
  h3 {
    padding-bottom: .5em;
    text-align: left;
  }
  h4 {
    margin: 1em;
  }
  h5 {
    text-align: left;
  }
  label {
    float: left;
  }
  input, select {
    padding: .25em;
    font-size: 1.25em;
    width: 100%;
  }
  button {
    padding: .25em 1em;
    margin: .5em;
    font-size: 1.25em;
    border-radius: 1em;
    height: 2em;
    cursor: pointer;
    transition: all 250ms ease;
    &:hover {
      background: #aaaaaa;
    }
  }
  button[name="shuffle-colors"] {
    background: #232323;
    color: #eeeeee;
    width: 100%;
    font-weight: bold;
    border-radius: 1.5em;
    height: 3em;
    &:hover {
      background: #eeeeee;
      color: #232323;
    }
  }
  .current-palette {
    border-radius: 1em;
    height: 2em;
    width: 100%;
    margin: .5em 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow: hidden;
    cursor: pointer;
  }
  .color-swatch {
    height: 2em;
    width: 100%;
  }
  .project-palettes {
    margin: 1em 0;
  }
  .palette-title {
    cursor: pointer;
  }
  .palette-select, .palette-delete {
    padding: .5em 1em;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .palette-template {
    display: none;
  }
}

.color1, .color2, .color3, .color4, .color5 {
  background: #ffffff;
  color: #ffffff;
  transition: background 500ms ease;
}
